:root {
  --main-color: #ffffff;
  --button-color: hotpink;
  --hover-link: rgb(253, 201, 239);
  --bcg-paragraf: rgb(255, 220, 245);
}
body {
  font-family: Manrope;
}
.nav-name {
  font-family: Permanent Marker;
}
.footer-color {
  padding: 260px 20px;
}
h1,
h2,
h3 {
  text-align: center;
}
h1 {
  font-size: 40px;
  font-family: Manrope;
  font-weight: 200;
}
h2 {
  color: var(--button-color);
  font-size: 150px;
  font-family: Permanent Marker;
}
h3 {
  font-size: 20px;
  font-family: Manrope;
  font-weight: 200;
}
.button {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 30px;
}
.hello {
  font-family: Manrope;
  font-weight: 700;
}
.head-about {
  font-weight: 200;
}
.head-name {
  font-size: 70px;
  margin-bottom: 30px;
}
.about-projects {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
a {
  padding: 15px;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 30px;
}
.link-control {
  text-decoration: none;
}
.link-control:hover {
  color: var(--main-color);
  background-color: var(--hover-link);
}
.nav-link:hover {
  color: var(--main-color);
}
.row {
  margin-top: 40px;
}
.contact-link {
  color: var(--main-color);
  background-color: var(--button-color);
  /* display: flex;
  justify-content: space-between; */
}
.contact-link:hover {
  color: var(--main-color);
}
.about-link {
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
.about-link:hover {
  color: var(--main-color);
}

.link-about {
  display: flex;
  justify-content: center;
}
.about-name-first {
  font-weight: 200;
}
.about-name {
  font-family: Permanent Marker;
}
.about-header {
  font-size: 35px;
  margin-top: 30px;
}
.about-head {
  font-family: Manrope;
  font-size: 25px;
  color: black;
}
.about-city {
  font-weight: 200;
}
.about-me {
  text-align: center;
}
.portret {
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 10px;
}
.about-paragraf {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 30px 0;
}
.about-project-link {
  text-align: center;
}
.contact-mail {
  color: black;
}
.link-about:hover {
  color: var(--main-color);
}
.about-social-link {
  transition: 1s;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-social-link:hover {
  transform: scale(1.4);
}

p {
  font-size: 18px;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  font-family: Manrope;
  font-style: light;

  /* margin-left: 20px; */
  /* align-items: center; */
}
.about-footer {
  font-size: 30px;
}
.contact-about {
  text-align: center;
}
/* .mb {
  margin-bottom: 1rem !important;
  text-align: left;
} */

.mb {
  color: black;
}
.img-portfolio {
  transition: 1s;

  /* margin-left: 200px; */
}
.img-portfolio :hover {
  transform: scale(1.2);
}
.contact-head {
  margin: 60px;
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}
.contact-lists {
  margin: 60px;
}
.contact-items {
  font-size: 25px;
  list-style-type: none;
  text-align: center;
  margin-bottom: 15px;
}
.contact-items a {
  text-decoration: none;
}
.contact-items a:hover {
  background-color: var(--hover-link);
}
.contact-paragraf {
  text-align: center;
}
