:root {
  --main-color: #ffffff;
  --button-color: hotpink;
  --hover-link: rgb(253, 201, 239);
  --bcg-paragraf: rgb(255, 220, 245);
}

h1,
h2,
h3 {
  margin: 0;

  text-align: center;
}
h1 {
  font-size: 60px;
  margin-top: 70px;
}
h2 {
  font-size: 80px;
}
h3 {
  font-size: 30px;
}
.button {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 30px;
}
a {
  padding: 20px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 30px;
}
a:hover {
  color: var(--main-color);
  background-color: var(--hover-link);
}
.nav-link:hover {
  color: var(--main-color);
}
.contact-link {
  color: var(--main-color);
  background-color: var(--button-color);
  /* display: flex;
  justify-content: space-between; */
}
.about-link {
  color: var(--button-color);
  border: 1px solid var(--button-color);
}

.link-about {
  display: flex;
  justify-content: center;
}
.about-header {
  font-size: 60px;
}
.about-head {
  font-size: 30px;
}
.about-paragraf {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 30px 0;
}

p {
  font-size: 18px;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;

  /* margin-left: 20px; */
  /* align-items: center; */
}
.about-footer {
  font-size: 30px;
}
.contact-about {
  text-align: center;
}
/* .mb {
  margin-bottom: 1rem !important;
  text-align: left;
} */
