:root {
  --main-color: #ffffff;
  --button-color: hotpink;
  --hover-link: rgb(253, 201, 239);
  --bcg-paragraf: rgb(255, 220, 245);
}
body {
  font-family: Manrope;
  font-style: light;
}
.footer-color {
  height: 250px;
}
h1,
h2,
h3 {
  margin: 0;

  text-align: center;
}
h1 {
  font-size: 40px;
  margin-top: 70px;
  font-family: Manrope;
  font-weight: 200;
}
h2 {
  color: var(--button-color);
  font-size: 80px;
  font-family: Permanent Marker;
}
h3 {
  font-size: 30px;
  font-family: Manrope;
  font-weight: 200;
}
.button {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 30px;
}
.hello {
  font-family: Manrope;
  font-family: bold;
}
a {
  padding: 20px;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  margin-left: 30px;
}
.link-control:hover {
  color: var(--main-color);
  background-color: var(--hover-link);
}
.nav-link:hover {
  color: var(--main-color);
}
.row {
  margin-top: 40px;
}
.contact-link {
  color: var(--main-color);
  background-color: var(--button-color);
  /* display: flex;
  justify-content: space-between; */
}
.contact-link:hover {
  color: var(--main-color);
}
.about-link {
  color: var(--button-color);
  border: 1px solid var(--button-color);
}
.about-link:hover {
  color: var(--main-color);
}

.link-about {
  display: flex;
  justify-content: center;
}
.about-header {
  font-size: 40px;
}
.about-head {
  font-size: 30px;
}
.about-paragraf {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 30px 0;
}
.contact-mail {
  color: black;
}
.link-about:hover {
  color: var(--main-color);
}
.about-social-link {
  transition: 1s;
  margin-top: 20px;
  margin-bottom: 20px;
}
.about-social-link:hover {
  transform: scale(1.4);
}

p {
  font-size: 18px;
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  font-family: Manrope;
  font-style: light;

  /* margin-left: 20px; */
  /* align-items: center; */
}
.about-footer {
  font-size: 30px;
}
.contact-about {
  text-align: center;
}
/* .mb {
  margin-bottom: 1rem !important;
  text-align: left;
} */
.container {
  margin-top: 30px;
}
.project-page {
}
.mb {
  color: black;
}
.img-portfolio {
  transition: 1s;
  margin-left: 200px;
}
.img-portfolio :hover {
  transform: scale(1.2);
}
